body {
background-color: #BBC9CC;
}

finePrint {
	font-size: 0.5vw;
}

h1 {
	font-size: 1vw;
}

h2 {
	color: rgba(200, 100, 100);
}

h3 {
	color: rgba(24, 81, 86);
}

td {
	background-color: rgba(74, 211, 216, 0.582);
}

address{
	font-style: normal;
	padding-top: 1em;
	padding-bottom: 1em;
}

p{
	padding-left: 1em;
}

#content{
    /* the width in here will be changed 
    width: this requirment will be changed
    i dont' want to type my left, right content static
    is there a way? */
}
#left{
    float:left;
    width: 50%;
}
#right{
    float:left;
    width: 50%;
}
#bottom{
    border: 1px solid black;
    clear: both;
}

.container {
    border: 1px solid black;    
}